<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="eu.urbancoders.zonkysniper">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".ZonkySniperApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainNewActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".ZonkyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".ZonkyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name=".ZonkoidSettings"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".MainNewActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="eu.urbancoders.zonkysniper.MainNewActivity"/>
        </activity>
        <activity
                android:name=".LoanDetailsActivity"
                android:label="@string/title_activity_loan_details"
                android:parentActivityName=".MainNewActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_LOAN_DETAIL_FROM_NOTIFICATION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="eu.urbancoders.zonkysniper.MainNewActivity"/>
        </activity>
        <activity
                android:name=".messaging.MessagingActivity"
                android:label="@string/title_activity_messaging"
                android:parentActivityName=".MainNewActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="eu.urbancoders.zonkysniper.MainNewActivity"/>
        </activity>
    </application>

</manifest>